src/main/mule/sfdc-replication-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:bigquery="http://www.mulesoft.org/schema/mule/bigquery" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/bigquery http://www.mulesoft.org/schema/mule/bigquery/current/mule-bigquery.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	<flow name="Sync" doc:id="49a151f7-67b8-4ec1-b716-b41654ab964e" >
		<scheduler doc:name="Scheduler" doc:id="bfa2ec61-a2b5-478d-b837-da26c300e692" >
			<scheduling-strategy >
				<fixed-frequency startDelay="100" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="describeReplicationTables" doc:id="125c0662-c8a4-46f3-ab98-1e84b0fa1eb3" name="retrieveControlTableRecords"/>
	</flow>
	<flow name="retrieveControlTableRecords" doc:id="d6462aa6-a8b2-4cff-92aa-502edad8b090" >
		<bigquery:query doc:name="Query control table" doc:id="2aa5858e-29cc-4a60-a5fe-4406136891bc" config-ref="Google_bigquery_Config">
			<bigquery:query-job >
				<bigquery:query-string ><![CDATA[SELECT * FROM `mulesoft-368900.salesforce.control` ]]></bigquery:query-string>
			</bigquery:query-job>
			<bigquery:job-info-options />
		</bigquery:query>
		<ee:transform doc:name="Mapping Query Result" doc:id="57e34e83-0f7e-4613-bc56-806f3a572ffa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var schema=payload.schema.fields
---
payload.values map ((value, index) -> {
    (schema[0].name): value[0].value,
    (schema[1].name): value[1].value,
    (schema[2].name): value[2].value
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="Loop over each table" doc:id="bc5c9cc1-1c5b-4c27-bd4f-b7bde63c40ce" >
			<ee:transform doc:name="Ignore Columns" doc:id="01871148-7cd0-43c8-9f62-33972bf490d7" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="ignoreColumns" ><![CDATA[%dw 2.0
output application/java
---
payload.ignoreFields default "" splitBy(',')]]></ee:set-variable>
					<ee:set-variable variableName="tableName" ><![CDATA[%dw 2.0
output application/java
---
payload.tableName]]></ee:set-variable>
					<ee:set-variable variableName="lastReplicationDate" ><![CDATA[%dw 2.0
output application/java
---
payload.lastReplicationDate]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="describeTable" doc:id="b43112fd-c066-4ff8-95b7-2d54986d5f3e" name="describeTable"/>
			<flow-ref doc:name="retrieveReplicationData" doc:id="4f9e74f0-31fd-4443-9500-913d99319044" name="retrieveReplicationData"/>
		</foreach>
	</flow>
	<flow name="describeTable" doc:id="e40a8107-69f6-4e0d-8466-0889a1e9ac2c" >
		<salesforce:describe-sobject type="#[payload.tableName]" doc:name="Describe sobject" doc:id="c859ae18-7b96-4bc1-897d-577b4b2204ca" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Collect FIelds" doc:id="84ab0639-5f1f-44f6-b0d7-9495527e634d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var dropThese = vars.ignoreColumns
---
payload.fields filter (not (dropThese contains $."name")) map ((item, index) -> {
    name: item.name,
    "type": item."type"
})]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="tableFields" ><![CDATA[%dw 2.0
output application/java
var dropThese = vars.ignoreColumns
---
(payload.fields filter (not (dropThese contains $."name")) map ((item, index) -> {
    name: item.name,
    "type": item."type"
})).name]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="writeTemporalFile" doc:id="07fb2683-7f92-4599-a376-dc12524b5a43" name="writeTemporalFile" />
	</flow>
	<sub-flow name="writeTemporalFile" doc:id="824f04c0-d4ec-4979-a529-a762e4e7d79d">
		<ee:transform doc:name="Writting Headers" doc:id="aa44f5be-cc95-41f7-b122-41df5a5df82b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(vars.tableFields map {name: $}).name joinBy "," ++ "\n"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="4f41f12d-82c2-43d8-87e1-7a0404b9d191" path='#["/tmp/replication/" ++ vars.tableName ++ ".csv"]' mode="APPEND" />
	</sub-flow>
	<flow name="retrieveReplicationData" doc:id="963c7afd-ab5e-4c44-b42b-9bdc84b4b6f1" >
		<salesforce:get-updated objectType="#[vars.tableName]" doc:name="Get updated objects" doc:id="3ee54bbc-b989-4b67-a276-2c596be393b8" config-ref="Salesforce_Config" startDate="#[import * from dw::core::Periods&#10;---&#10;((vars.lastReplicationDate &gt;&gt; &quot;UTC&quot;) as LocalDateTime {format : &quot;yyyy-MM-dd'T'HH:mm&quot;})]" endDate="#[((now() &gt;&gt; &quot;UTC&quot;) as LocalDateTime {format : &quot;yyyy-MM-dd'T'HH:mm&quot;})]"/>
		<logger level="INFO" doc:name="Logger" doc:id="fb75405c-4d89-4733-a34a-30dd54666c27" message='#["Total Records: " ++ sizeOf(payload.ids)]'/>
		<set-variable value="#[sizeOf(payload.ids)]" doc:name="Total Records" doc:id="14fde87e-4099-44db-a0c3-d4a746611bf7" variableName="totalRecords"/>
		<set-payload value="#[payload.ids]" doc:name="IDS" doc:id="28b1a710-f902-44c1-bdbe-74157c3ed78d" />
		<batch:job jobName="sfdc-replication-syncBatch_Job" doc:id="2d0a605b-fe7d-42f6-b522-220b7fe8deff" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="67699bdc-2541-42a5-8ff7-f431183ae697" >
					<batch:aggregator doc:name="Commit 2K records" doc:id="3d32fd2e-fd50-4f22-861e-464d6b24e17c" size="2000">
						<set-variable value="#[false]" doc:name="writeHeaders false" doc:id="e22dd071-931d-449d-9743-befd61c51828" variableName="writeHeaders"/>
						<flow-ref doc:name="aggregaeRecordResult" doc:id="7b440b7b-16bb-41da-b42f-cbb72ebe92f1" name="aggregaeRecordResult" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="3c03c5ff-8de3-4d11-a31f-dcd5323dcc26" message="File completed"/>
				<choice doc:name="Choice" doc:id="6d6a4465-024b-40ed-92e5-b2fe1e5839cf" >
					<when expression="#[payload.totalRecords &gt; 0]">
						<flow-ref doc:name="replicateData" doc:id="6a7300d4-510a-4c0a-907f-368429047d4a" name="replicateData" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="e6145add-184b-408a-83f9-356794fe2dac" message="No records to process."/>
					</otherwise>
				</choice>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="WriteFileHeaders" doc:id="a6a7c7ca-ae18-4259-845f-8e56d4aed56c" >
		<ee:transform doc:name="firstRecord" doc:id="6b30eaaa-fc51-4317-85ec-8a7bd7334b63" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload.ids[0]]]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="writeHeaders" ><![CDATA[%dw 2.0
output application/java
---
true]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="aggregaeRecordResult" doc:id="531fbf9f-f0f9-452d-a60a-b2db79f05ecd" name="aggregaeRecordResult"/>
	</flow>
	<flow name="aggregaeRecordResult" doc:id="ff13e02f-b61f-41e9-9e71-987a1a5d82db" >
		<ee:transform doc:name="Retrive Request" doc:id="b2d60bcd-6614-4c32-9c23-f9b5f5e01803">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	fields:(vars.tableFields map {name: $}).name,
	ids: payload map $
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
		<salesforce:retrieve type="#[vars.tableName]" doc:name="Retrieve" doc:id="44399e10-2070-481e-a386-8716a2f8a1da" config-ref="Salesforce_Config" />
		<ee:transform doc:name="Fix output | remove type" doc:id="72b0c782-58b8-467b-8e77-931b1f1afaaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
(payload map ((record) -> 
  record mapObject ((value, key) -> {
  	 ((key): value replace "\n" with "" replace "," with "") 
  } - "type" ) 
)) distinctBy ($)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Write Headers" doc:id="9c749054-8869-48b4-b2a6-674426238871" >
			<when expression="#[vars.writeHeaders == true]">
				<ee:transform doc:name="to CSV format" doc:id="006506f8-65d5-4b86-a6fe-026f13b32163" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=true
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="to CSV format" doc:id="f9b80c46-57c1-4eb7-87d0-2abe8d656c34">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<file:write doc:name="Write" doc:id="1edbdc0e-e389-459f-b67f-fcfe75aca7fb" path='#["/tmp/replication/" ++ vars.tableName ++ ".csv"]' mode="APPEND" />
	</flow>
	<flow name="replicateData" doc:id="d5cdbb23-7c4b-4606-a818-5a9ee5509760">
		<bigquery:delete-table doc:name="Delete Table" doc:id="14ae3870-4cec-4d6c-b9bb-8547e87f9b3b" config-ref="Google_bigquery_Config">
			<bigquery:table table="AcquiredAccount__c_temp" dataset="salesforce" />
		</bigquery:delete-table>
		<bigquery:query doc:name="Recreate Temp table" doc:id="8d4c8868-e447-4a6d-b927-27960e861b78" config-ref="Google_bigquery_Config">
			<bigquery:query-job defaultDataset="salesforce">
				<bigquery:query-string><![CDATA[CREATE TABLE `AcquiredAccount__c_temp` LIKE `AcquiredAccount__c`]]></bigquery:query-string>
			</bigquery:query-job>
			<bigquery:job-info-options />
		</bigquery:query>
		<file:read doc:name="Read" doc:id="fb2a7af7-8bc9-45bd-ba03-b02d65145a89" path="/private/tmp/replication/AcquiredAccount__c.csv"/>
		<ee:transform doc:name="file to Java" doc:id="4f1ec8d3-e87f-432f-8f8f-eef85fc5b664" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import try, fail from dw::Runtime
output application/java


fun isDate(value: Any): Boolean = try(() -> value as Date).success
fun getDate(value: Any): Date | Null | Any = ( if ( isDate(value) ) value 
            as Date as String else value )

---
(payload map (item,index) ->{
    (item mapObject ((value, key, index) -> {
        (key):(getDate(value))
    } ))
} -- vars.ignoreColumns )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="485d3c3f-0852-443b-9523-d29fd4564c59" >
			<bigquery:insert-all tableId="AcquiredAccount__c_temp" datasetId="salesforce" doc:name="Insert All" doc:id="379b6e50-91f6-4a26-9239-2d5a77010e6a" config-ref="Google_bigquery_Config" rowsData="#[payload]" ignoreUnknownValues="false" />
		</until-successful>
		<logger level="INFO" doc:name="Logger" doc:id="fc46d786-e88d-44ba-8745-66fee1ad85bc" />
		<bigquery:query doc:name="Merge Operation" doc:id="3c77872f-212f-4212-b92e-77a1266f3bd9" config-ref="Google_bigquery_Config" >
			<bigquery:query-job defaultDataset="salesforce" >
				<bigquery:query-string ><![CDATA[MERGE `mulesoft-368900.salesforce.AcquiredAccount__c` t USING `mulesoft-368900.salesforce.AcquiredAccount__c_temp` s 
ON t.Id = s.Id
WHEN MATCHED then
UPDATE SET AcctId__c = s.AcctId__c, Name = s.Name, BillingState__c=s.BillingState__c,CloseDate__c=s.CloseDate__c,CreatedById=s.CreatedById,Division__c=s.Division__c, Industry__c=s.Industry__c,LastModifiedById=s.LastModifiedById,OwnerId=s.OwnerId,Ownership__c=s.Ownership__c,Rating__c=s.Rating__c,StartDate__c=s.StartDate__c,Type__c=s.Type__c,Id=s.Id
WHEN NOT MATCHED then
INSERT (AcctId__c, Name, BillingState__c, CloseDate__c, CreatedById,Division__c,Industry__c,LastModifiedById,OwnerId,Ownership__c,Rating__c,StartDate__c,Type__c,Id) 
VALUES (s.AcctId__c,s.Name,s.BillingState__c,s.CloseDate__c,s.CreatedById,s.Division__c,s.Industry__c,s.LastModifiedById,s.OwnerId,s.Ownership__c,s.Rating__c,s.StartDate__c,s.Type__c,s.Id)]]></bigquery:query-string>
			</bigquery:query-job>
			<bigquery:job-info-options />
		</bigquery:query>
		<flow-ref doc:name="UpdateReplicationJob" doc:id="94ed719e-2061-4e5a-81fb-ffc800aa7750" name="UpdateReplicationJob"/>
		<logger level="INFO" doc:name="Logger" doc:id="b9c062cd-5ce4-4449-aac4-5bd57d9a7830" message="#[payload]"/>
	</flow>
	<sub-flow name="UpdateReplicationJob" doc:id="27bfe60a-9587-4a9f-8c1c-bffd858dbd4a" >
		<bigquery:query doc:name="Update Replication Date" doc:id="e36e9795-dc9e-4a0f-8180-2f7375aeba91" config-ref="Google_bigquery_Config" >
			<bigquery:query-job defaultDataset="salesforce" >
				<bigquery:query-string ><![CDATA[Update `control` set lastReplicationDate = CURRENT_DATETIME() where tableName = 'AcquiredAccount__c']]></bigquery:query-string>
			</bigquery:query-job>
			<bigquery:job-info-options />
		</bigquery:query>
		<file:delete doc:name="Delete file" doc:id="5831b493-216c-42e4-9113-a45bc4be547a" path="/private/tmp/replication/AcquiredAccount__c.csv"/>
	</sub-flow>
</mule>
